body {
    font-family: Roboto;
    /* outline: 2px solid lime; */
    height: 100%;
    margin: 0%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    color: #F9FAF8;
    background-color: #1F2937;
    /* outline: 2px solid lime; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.header {
    /* outline: 2px solid lime; */
    margin: 0 auto;
    padding: 10px 20px;
    width: 70%;
    display: flex;
    justify-content: space-between; /* Space between links and logo */
    align-items: center; /* Align items vertically */
    box-sizing: border-box;
    flex-wrap: wrap;
}

.links {
    display: flex;
    gap: 20px; /* Space between links */
    flex-wrap: wrap;
    max-width: 70%;
}

.links span {
    font-size: 18px;
    color: #E5E7EB;
    white-space: nowrap;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    text-align: right;
    flex-shrink: 0;
}


/* --------------------Divider between Header and Content Div-----------------------  */


.content {
    /* outline: 2px solid lime; */
    margin: 0 auto;
    padding: 10px 20px;
    width: 70%;
    gap: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.title {
    /* outline: 2px solid lime; */
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.title h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 5px;
}

.title a {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 1.5;
}

.title button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    align-self: flex-start;
    border: transparent;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}

.image {
    /* outline: 2px solid lime; */
    color: #F9FAF8;
    width: 65%;
    object-fit: contain;
}

img {
    display: block;
    max-width: 500px;
    max-height: 220px;
    width: 2;
    height: 1;
}

/* --------------------Divider Between Blue and White Background----------------------- */

.container2 {
    background-color: #F9FAF8;
    /* outline: 2px solid lime; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
}

.info h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.boxes button {
    width: 100px;
    height: 100px;
    border: 2px solid #2563eb; /* Blue border */
    border-radius: 10px; /* Rounded corners */
    background-color: transparent; /* No background */
    cursor: pointer;
  }
  
  .subtext {
    margin-top: 10px; /* Add spacing between button and text */
    font-size: 0.9rem; /* Adjust font size */
    color: #1F2937; /* Neutral gray color */
    line-height: 1.4; /* Adjust line spacing */
  }

  /* ---------------------Next Div------------------------ */

  .container3 {
    background-color: #E5E7EB;
    padding: 20px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    display: inline-block;
    text-align: left;
    border-radius: 5px;
  }

  .quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 5px;
  }

  .author {
    font-size: 22px;
    font-weight: 900;
    margin-top: 0;
    text-align: right;
  }

  /* --------------------Next Div------------------- */

  .container4 {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 100px;
  }

  .bluebox {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    width: 650px;
    max-width: 70%;
  }

  .bluebutton {
    background-color: transparent;
    color: #f8f9fa;
    font-size: 14px;
    border: 2px solid #f8f9fa;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
  }

  .bluebox h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 0.05;
  }

  .bluebox p {
    margin: 5px 0 0;
    font-size: 14px;
    opacity: 0.9;
  }

/*-----------------------Footer---------------------------------*/

  .footer {
    color: #F9FAF8;
    background-color: #1F2937;
    /* outline: 2px solid lime; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 25px;
  }

  .footer h1 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 100;
  }