body {
    font-family: Roboto;
    outline: 2px solid lime;
    height: 100%;
    margin: 0%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    color: #F9FAF8;
    background-color: #1F2937;
    outline: 2px solid lime;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header {
    outline: 2px solid lime;
    margin: 0 auto;
    padding: 10px 20px;
    width: 70%;
    display: flex;
    justify-content: space-between; /* Space between links and logo */
    align-items: center; /* Align items vertically */
    box-sizing: border-box;
    flex-wrap: wrap;
}

.links {
    display: flex;
    gap: 20px; /* Space between links */
    flex-wrap: wrap;
    max-width: 70%;
}

.links span {
    font-size: 18px;
    color: #E5E7EB;
    white-space: nowrap;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    text-align: right;
    flex-shrink: 0;
}


/* Divider between Header and Content Div  */


.content {
    outline: 2px solid lime;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title {
    outline: 2px solid lime;
    color: #F9FAF8;
    width: 35%;
}

.title a {
    font-size: 18px;
    color: #E5E7EB;
}

.title h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.image {
    outline: 2px solid lime;
}

img {
    width: 28%;
    height: auto;
}